html,body { margin: 0; padding: 0; }
#banlist { margin: 0; padding: 0; }
#banlist li { 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	background: #E9E9E9;
	font-size: 12px;
	border-bottom: 1px solid #fff;
}
#banlist li a { 
	/* display: block; */
	/* width: 100%; */
	background: #333; 
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 2px 0 2px;
	font-size: 12px;
}
#banlist li .htmlMsg { font-size: 12px; }

.h {
	margin-right: 5px;
	background: red;
	padding: 0 5px;
	margin-left: 1px;
	cursor: pointer;
	border-radius: 8px;
}